%h3 #{@user.name}'s Stuff
- @user.responses.each do |response|
  %article
    - if response.is_youtube?
      .flex-video.widescreen
        = "#{truncate(response.response, :length => 1000, :omission => "...")}".html_safe
    - else
      = "#{truncate(response.response, :length => 1000, :omission => "...")} #{link_to("(Full Article)", response.url)}".html_safe
    %h4 
      in response to: 
      = link_to response.request.title, request_path(response.request)

= link_to "Make a new Question", new_request_path
