%h2 New Question

= form_for([@request]) do |f| 
  %ul
    - @request.errors.full_messages.each do |error|
      %li
        #{error}

  = f.label :title
  = f.text_field :title

  = f.label :description
  = f.text_area :description

  %input{ :name => "tags", :id => "tags", :value => "" }

  = f.submit "Submit", :class => "button success"
