%div.row
  %div.twelve.columns
    %h2
      = @request.title
    %h3.subheader
      Requested by #{@request.user.email}
    %hr
    %p.panel
      = @request.description
  %hr
    %div#responses
    - if user_signed_in?
      = form_for([@request, @response], :remote => true) do |f| 
        %div.row
          = f.label "Respond to this question"
          = f.text_field :url, :class => "twelve columns", :placeholder => "The URL of your answer..."
          = f.submit "Submit", :class => "button success", :id => "post-response"

%ul
  %li
    = link_to "Back to Questions", requests_path
  - if @request.user == current_user
    %li
      = link_to "Edit Question", edit_request_path(@request)
    %li
      = link_to "Delete Question", request_path(@request), :method => :delete, :confirm => "Are you sure you want to delete this question?"
