.row
  - if @request.user == current_user
    %ul.controls.button-group
      %li= link_to "Edit", edit_request_path(@request), class: "button small"
      %li= link_to "Delete", request_path(@request), :method => :delete, :confirm => "Are you sure you want to delete this question?", class: "button alert small"
  %h2
    = @request.title
  %h3.subheader
    Requested by #{@request.user.email}
  %p.panel
    = @request.description
%h3 Responses
%hr
#responses
- if user_signed_in?
  = form_for([@request, @response], :remote => true) do |f| 
    .row.collapse
      %h4 Respond to this question
      = f.text_field :url, class: "ten columns", :placeholder => "The URL of your answer..."
      = f.submit "Submit", :class => "button success postfix two columns", :id => "post-response"
