- @responses.each do |response|
  .comment
    .row
      %button.general.foundicon-plus
        = link_to "Upvote", upvote_request_response_path(response.request, response), :method => :post
      %button.general.foundicon-minus
        = link_to "Down Vote", downvote_request_response_path(response.request, response), :method => :post
      %p.votes.two.columns
        #{response.total_votes}
      %p.url.seven.columns
        #{response.url}
      %p.three.columns
        - if response.user == current_user
          = link_to "Delete", request_response_path(request, response), method: :delete, :confirm => "Are you sure you want to delete this response?" 
    .row
      %p.twelve.columns
        #{truncate(response.response, :length => 250, :omission => "...")} #{link_to("(Full Article)", response.url)}
