%ul.responses
  - @responses.each do |response|
    %li.response
      .controls
        %fieldset.votebox
          %legend Vote
          %ul.button-group
            %li= link_to "+", upvote_request_response_path(response.request, response), :method => :post, class: "button tiny success"
            %li= link_to "-", downvote_request_response_path(response.request, response), :method => :post, class: "button tiny alert"
          %h1 #{response.total_votes}
        - if response.user == current_user
          = link_to "Delete", request_response_path(@request, response), method: :delete, :confirm => "Are you sure you want to delete this response?", class: "button tiny alert"
      - if response.is_youtube?
        = "#{truncate(response.response, :length => 250, :omission => "...")}".html_safe
      - else
        = "#{truncate(response.response, :length => 250, :omission => "...")} #{link_to("(Full Article)", response.url)}".html_safe
    %hr
