!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Learnmesomething"
      %meta{:content => content_for?(:description) ? yield(:description) : "Learnmesomething", :name => "description"}
        = stylesheet_link_tag "application", controller.controller_name, :media => "all"
        = javascript_include_tag "application", controller.controller_name
        = csrf_meta_tags
        = yield(:head)
  %body
    #container.container
      %header.top-bar
        = render 'layouts/navigation'
        = render 'layouts/messages'
      #main{:role => "main"}
        = yield
      %footer
    / ! end of #container
