!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Learn Me Something"
      %meta{:content => content_for?(:description) ? yield(:description) : "Learnmesomething", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body
    %header
      %nav.top-bar
        = render 'layouts/navigation'
    = render 'layouts/messages'
    #main{:role => "main"}
      #container.container
        = yield
    %footer
